{{#body-wrapper}}

  <div id="this-that" class="row">
      if <span id="this">✚ this</span> then <span id="that">that</span>
  </div>
  <div id="service" class="row">
    {{#each model.serviceItems as |service|}}
      {{#service-item store=store service=service}}{{/service-item}}
    {{/each}}
  </div>
{{/body-wrapper}}


