{{#body-wrapper}}

  <div id="this-that" class="row">
      if {{#if model.that}} 
      <span class="this">Feed</span> then <span id="that" class="that">✚ that</span>
          {{else}}
      <span class="this" id="this">✚ this</span> then <span class="that">that</span>
          {{/if}}
      
  </div>
  <div id="service" class="row">
    {{#each model.serviceItems as |service|}}
      {{#service-item store=store service=service}}{{/service-item}}
    {{/each}}
  </div>
{{/body-wrapper}}


