{{#body-wrapper}}
	{{#title-header item=model.headerItem}}{{/title-header}}
	<div class="col-sm-6 col-sm-offset-3 text-left">    
	    <div class="feed-item-lg">
	        <h2><b><img width="100" class="img-responsive" src="/assets/images/on_color_large (4).png" alt=""></b></h2>
	        <div class="summary">
	            If new feed item from <span id="feed_url">{{model.url}}</span>, then send me an email at <span id="email_address">{{model.email}}</span>.
	        </div>
	    </div>        
	</div>
{{outlet}}
{{/body-wrapper}}
