<div id={{service.itemId}} class="col-md-2 service-item">
    <a href="#">
        <img class="img-responsive" src={{service.image}} alt="">
        <div class="name">
            {{service.name}}
        </div>
    </a>
</div>

{{yield}}
