/* BASE STYLES FOR ELEMENTS */

body {
  -webkit-transform: translate3d(0,0,0);
}

.container {
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.service-item:nth-of-type(odd){
  background-color: yellow;
}
.service-item:nth-of-type(even){
  background-color: green;
}
.service-item {
    display: none;
    padding: 10px 10px 5px 10px;
    text-align: center;
	font-weight: 800;  
    color: white !important;
}
.service-item img{
	width:50%;
	margin: 0 auto;
}
#this-that{
	font-size: 6em;
    font-weight: 800;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}
.this{
	color: blue;
}
.that{
	color: orange;
}
footer {
    margin: 50px 0;
}
.feed-item{
    background-color:#ec7505;  
    color: white;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    width: 300px;
    min-height: 260px;
    padding: 15px;
    font-size: 1.5em;
    font-weight: 200;
}
.feed-item-lg{
    @extend .feed-item;
    width: 500px;
}
.email-item{
    @extend .feed-item;
    background-color:#2468ff;
    }
.email-item-lg{
    @extend .email-item;
    width: 500px;
}
.button-create{
    color:black ;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 2em;
    font-weight: 300;
}