{{#link-to "email-new"}}
	<div id={{item.itemID}} class="col-sm-6">  
		<div class="email-item">
			<h2><b>{{item.name}}</b></h2>
			<div class="name">
			    {{item.description}}
			</div>
		</div>
	</div>
{{/link-to}} 
{{yield}}
