<div class="col-sm-6 col-sm-offset-3 text-left">    
    <div class="email-item-lg">
        <h2><b>Send me an email</b></h2>
        <div class="name">
            This Action will send you an HTML based email. Images and links are supported.
        </div>
        <div class="form-group">
          <label for="email">Email address*:</label>
          <input type="text" class="form-control" id="email">
          <div id="url-error" class="{{unless hasError 'hidden'}}">email is invalid</div>
        </div>
        <div class="text-center">
            <button id="create-button" {{action "saveEmail"}} type="submit" class="btn btn-default btn-lg {{if hasError 'disabled'}}">Create action</button>
        </div>
    </div>        
</div>
{{yield}}
