{{#main-navbar}}{{/main-navbar}}

<div id="main-content" class="container">

  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">IFTTT mimic
          </h1>
      </div>
  </div>
	{{yield}}

</div>
<script>
$("#this,#that").click(function(){ 
  $(".service-item").show(1000);
  $("#this-that").hide();
    });
$("#feed-service").click(function(){
  $("#service").addClass("hidden");
  $("#feed").removeClass("hidden");
})
$("#feed-new").click(function(){
  $("#feed").addClass("hidden");
  $("#feed-trigger").removeClass("hidden");
})

</script>

